.wrapper {
   background:gray;
    color:white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
    grid-template-columns:  3fr 2fr 2fr ;
    font-size: 13px;
    font-family: "Open Sans",sans-serif !important;
    text-align: left;
    display: flex;
    line-height: 1.5;
    width: 100%;
  }
  .wrapper div:nth-child(1){
    background:gray;
    flex: 0 0 33.333333%;
    padding-left: 5% ! important;
    padding-top: 1% ! important;
    padding-bottom: 1% ! important;
  }
  .wrapper div:nth-child(2){
    background-color:gray;
    flex: 0 0 33.333333%;
    padding-left: 5% ! important;
    padding-top: 1% ! important;
    padding-bottom: 1% ! important;
  }
  .wrapper div:nth-child(3){
    background:gray;
    flex: 0 0 33.333333%;
    padding-top: 1% ! important;
    padding-bottom: 1% ! important;
  //S  padding-left: 5% ! important;
  }
