<html>
    <footer>   
        <div class="wrapper">
        
        <div><b> PEDAGÓGICA Y TECNOLÓGICA DE COLOMBIA</b>
        <br>Sede Central Tunja–Boyacá–Colombia
        <br>Avenida Central del Norte 39-115 
        <br><b>PBX: </b>57 (608) 7405626
        <br>portalweb@uptc.edu.co
        <br>Horario de atención y servicio telefónico
        <br>Lunes a viernes de
        <br>8:00 a.m. a 12:00 m y 2:00 p.m a 6:00 p.m.
        <br>Transparencia y Acceso a la Información Pública
        <br>Estatutos, valores de matrícula y derechos pecuniarios
        </div>

        <div><b>INSTITUCIONAL</b>
        <br>Comunicaciones
        <br>Directivos y Oficinas
        <br>Información General
        <br>Rendición de Cuentas
        <br>Sedes
        <br>UPTC Niños y Niñas
        </div>
    
        <div><b>Atención al ciudadano SPQRS</b>
        <br><b>Línea Gratuita:</b> 01 8000 942024
        <br><b>Teléfono:</b> 57 (608) 7428263 
        <br><b>PBX:</b> 57 (608) 7405626
        <br>quejas.reclamos@uptc.edu.co
        <br>
        <br>Notificaciones:
        <br>Aviso 
        <br>Judiciales 
        <br>Dirección Control Interno Disciplinario
        </div>
        
   </div>
</footer>

</html>