<div style="background-color: #a09f9f;">
  <ul class="list-inline-block">
    <li class="list-inline-item mt-4 mb-4">
        <a class="btn btn-dark btn-sm" href="#!" data-mdb-toggle="modal" style="margin-left: 90%;">
          <i class="fab fa-facebook-f" style="color: white; padding: 3px;"></i>
        </a>
    </li>
    <li class="list-inline-item mt-4 mb-4">
      <a class="btn btn-dark btn-sm" href="#!" data-mdb-toggle="modal" style="margin-left: 90%;">
        <i class="fab fa-instagram" style="color: white;"></i>
      </a>
    </li>
    <li class="list-inline-item mt-4 mb-4 ">
      <a class="btn btn-dark btn-sm" href="#!" data-mdb-toggle="modal" style="margin-left: 80%;">
        <i class="fab fa-youtube" style="color: white;"></i>
      </a>
    </li>
  </ul>
</div>
